<div class="container">
 
  <nav class="navbar navbar-default nav-cont">
    <div class="navbar-header">
      <a href="#/"><img src="images/angular.png" class="logo" /></a>
    </div>
    <ul class="nav nav-tabs nav-pills navbar-nav">
      <li routerLinkActive="active">
        <a class="navbar-seperator" routerLink="/startertemplateform">Starter Template Form</a>
      </li>
      <li routerLinkActive="active">
        <a class="navbar-seperator" routerLink="/starterreactiveform">Starter Reactive Form</a>
      </li>
      <li routerLinkActive="active">
        <a class="navbar-seperator" routerLink="/basicform">Basic Template Form</a>
      </li>
      <li routerLinkActive="active">
        <a class="navbar-seperator" routerLink="/templateform">Template Form</a>
      </li>
      <li routerLinkActive="active">
        <a class="navbar-seperator" routerLink="/reactiveform">Reactive Form</a>
      </li>
      <li routerLinkActive="active">
        <a class="navbar-seperator" routerLink="/customcomp">Custom Component</a>
      </li>
      <li routerLinkActive="active">
        <a class="navbar-seperator" routerLink="/tempdrivenforms">Template Forms</a>
      </li>
      <li routerLinkActive="active">
        <a class="navbar-seperator" routerLink="/depInj">Dependency Injection</a>
      </li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>
  
</div>